<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List All Faculties</title>
</head>
<body>
    <a href="add-faculty-form">Add New Faculty</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Research Areas</th>
            <th>Operation</th>
        </tr>
        {% for faculty in list %}
            <tr>
                <td>{{ faculty.name }}</td>
                <td>{{ faculty.email }}</td>
                <td>{{ faculty.research_area }}</td>
                <td>
                    <a href="modify-faculty-form?faculty_id={{ faculty.id }}">Modify</a>
                    <a href="delete-faculty?faculty_id={{ faculty.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>