<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Free Fculty</title>
</head>
<body>
    <h1>Free Faculty in {{ semester }}</h1>
    <form action="list-free-faculty" method="get">
        <select name="semester">
            <option>fall2019</option>
            <option>fall2018</option>
        </select>
        <input type="submit" value="search">
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Research Areas</th>
            <th>Operation</th>
        </tr>
        {% for faculty in list %}
            <tr>
                <td>{{ faculty.name }}</td>
                <td>{{ faculty.email }}</td>
                <td>{{ faculty.research_area }}</td>
                <td>
                    <a href="add-teaches-form?faculty_name={{ faculty.name }}&semester={{ semester }}">Assign a Course</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>