<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List All Courses</title>
</head>
<body>
    <a href="add-course-form">Add New Course</a>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Course Credits</th>
            <th>Section Number</th>
            <th>Course Description</th>
            <th>Operation</th>
        </tr>
        {% for course in list %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.credits }}</td>
                <td>{{ course.sectionNumber }}</td>
                <td>{{ course.description }}</td>
                <td>
                    <a href="modify-course-form?course_id={{ course.id }}">Modify</a>
                    <a href="delete-course?course_id={{ course.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>