<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Faculty Information</title>
</head>
<body>
    <form action="/modify-faculty" method="post">
        {% csrf_token %}
        <label>Name</label>
        <input type="text" name="name" value="{{ modify_faculty.name }}">
        <label>Email</label>
        <input type="text" name="email" value="{{ modify_faculty.email }}">
        <label>Research Area</label>
        <input type="text" name="research" value="{{ modify_faculty.research_area }}">
        <input type="hidden" name="id" value="{{ modify_faculty.id }}">
        <input type="submit" value="Modify Confirmed">
    </form>
</body>
</html>